<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" style=" width: 500px;
    margin: 0 auto;
    background-color: #0ea5e9;
    padding: 30px 20px;
    border-radius: 20px;">
        <div class="logo" style="margin: 0 auto;"><img style=" margin: 0 auto;
            display: block;" src="cid:logo" alt=""></div>
        <div class="text" style=" text-align: center;
        color: white;">
            <h1>Transaction Id : {{TransactionId}}</h1>
            <h2 class="">status</h2>
            <h2 class="price" style="margin-top: -.8rem; ">DONE</h2>
            <h1 class="success">Laundry is done</h1>
            <h2>Thank You For Trusting Our Service !!!</h2>
        </div>
    </div>
</body>
</html>